.btn {
  width: max-content;
  margin-right: 10px;
}

.color {
	background-color: #EDEEF0;
}

.Chip {
    margin-right: 5px;
    margin-bottom: 5px;
    width: max-content;
}

.FormItem {
    padding-left: 0px;
    padding-bottom: 0px;
}

.letter {
    color: white;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-right: 10px;
}

.flex-container {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    margin: 0px;
    height: 35px;
}

.PanelHeaderContext {
    vertical-align: center;
}

.black {
    margin-right: 10px;
}

.grey {
    color: #a2aab3;
}

.Div-padding {
    padding-bottom: 0px;
}

.Select {
    width: max-content;
}

.Intro {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.FlexContainer {
	display: flex;
	flex-direction: row;
	width: 80%;
	text-align: left;
	align-items: center;
	margin-bottom: 30px;
	align-content: flex-start;
}

.AvatarIcon {
	margin-right: 10px;
}

.CustomSelect {
    margin-right: 10px;
}

#mainPanel {
    display: flex;
    flex-direction: column;
}

.mainPanel {
    display: flex;
    flex-direction: column;
}

#mapDiv {
    flex: 1;
}

.mapDiv {
    flex: 1;
}

#mainGroup {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.mainGroup {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#mainMap {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.mainMap {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#splitCol {
    display: flex;
    flex-direction: column;
}

.splitCol {
    display: flex;
    flex-direction: column;
}

#map {
    flex: 1;
    height: 1000px;
}

#routeMap {
    flex: 1;
    height: 1000px;
}

#savedBtn {
    float: right;
}

#savedBtn:hover {
    cursor: pointer;
}

#saveBtn {
    position: absolute;
    right: 0px;
    margin: 8px;
}

#saveBtn:hover {
    cursor: pointer;
}

#deleteBtn {
    position: absolute;
    right: 0px;
    margin: 8px;
}

#deleteBtn:hover {
    cursor: pointer;
}

