.btn {
  width: max-content;
  margin-right: 5px;
}

.color {
	background-color: #EDEEF0;
}

.map-container {
    width: 100%;
    height: 400px;
}

.Chip {
    margin-right: 5px;
    margin-bottom: 5px;
    width: max-content;
}


.Div {
    padding-top: 0px;
}

.FormItem {
    padding-left: 0px;
    padding-bottom: 0px;
}