.btn {
  width: max-content;
  margin-right: 10px;
}

.color {
	background-color: #EDEEF0;
}


.map-container {
    width: 100%;
    height: 400px;
}

.Chip {
    margin-right: 5px;
    margin-bottom: 5px;
    width: max-content;
}

.FormItem {
    padding-left: 0px;
    padding-bottom: 0px;
}

.letter {
    color: white;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-right: 10px;
}

.flex-container {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    margin: 0px;
    height: 35px;
}

.PanelHeaderContext {
    vertical-align: center;
}

.black {
    margin-right: 10px;
}

.grey {
    color: #a2aab3;
}

.Div {
    padding-top: 0px;
}

.Div-padding {
    padding-bottom: 0px;
}

.Select {
    width: max-content;
}

.Intro {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.FlexContainer {
	display: flex;
	flex-direction: row;
	width: 80%;
	text-align: left;
	align-items: center;
	margin-bottom: 30px;
	align-content: flex-start;
}

.AvatarIcon {
	margin-right: 10px;
}

.CustomSelect {
    margin-right: 10px;
}